<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {{# if messages }}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">×</button>
                <strong>Success!</strong> {{messages}}      
            </div>
            {{/if}}
            {{# if success }}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">×</button>
                <strong>Success!</strong> {{success}}      
            </div>
            {{/if}}
            <div class="widget-box">
                            
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>Data table</h5>

                    <div class="pull-right" style="margin-top:2px;">
                        <a href="requests/create" class="btn btn-primary btn-lg">Create Request</a>
                    </div>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th>S.#</th>
                                <th>Name</th>
                                <th>Ref. #</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Blood Group</th>
                                <th>Age</th>
                                <th>Hospital Name</th>
                                <th>Till Required</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{# if requests}}
                                {{# each requests}}
                                {{# each this}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>
                                                {{{formateDate this.request_date}}}
                                            </td>
                                            <td>{{this.refno }}</td>
                                            <td> {{this.email}}</td>
                                            <td> {{this.contact}}</td>
                                            <td>{{this.blood_group}} </td>
                                            <td>{{this.age}} </td>
                                            <td>{{this.hospital_name}} </td>
                                            <td>{{formateDate this.till_date}} </td>
                                            <td>{{this.address}} </td>
                                            <td>
                                               
                                                <a href="requests/delete/{{this._id}}"  class="btn btn-danger btn-sm" >
                                                    Delete
                                                </a>
                                                <a href="requests/edit/{{this._id}}" data-donor-id="" class="btn btn-light btn-sm">
                                                    Edit
                                                </a>
                                                <span style="display:block; width:170px;"></span>
                                               
                                            </td>
                                        </tr>
                                    </tr>
                                    {{/each}}
                                {{/each}}
                            {{else}}
                                <tr class="gradeX">
                                    No Request found
                                </tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>