<!-- Start Breadcrumbs -->
<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Register Donor</h2>
                <ul class="bread-list">
                    <li><a href="index.html">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="about-us.html">Register Donor</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Register As A Donor</h1>
                    <p>The blood you donate gives someone another chance at life. One day that someone may be a close
                        relative, a friend, a loved one—or even you.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Contact Form -->
            <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1">
    {{#if errors}}
    <div class="alert alert-danger">
        {{#each errors}}
        <p>{{this.msg}}</p>
        {{/each}}
    </div>
    {{/if}}
                <form class='form donorForm'  method="post" action="/registerdonor">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="first_name" value="{{form.first_name}}"
                                placeholder="First Name">
                            <em id="first_name-error" class="error help-block">This field is required.</em>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="last_name" value="{{form.last_name}}"
                                placeholder="Last Name">
                                <em id="last_name-error" class="error help-block">This field is required.</em>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="contact_no" value="{{form.contact_no}}" placeholder="Moible Number">
                            <em id="last_name-error" class="error help-block">This field is required.</em>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="email" name="email" value="{{form.email}}"  placeholder="Email Address">
                                <em id="last_name-error" class="error help-block">This field is required.</em>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" id="password" name="password"
                                value="" placeholder="password">
                                <em id="last_name-error" class="error help-block">This field is required.</em>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" name="cpassword" value=""
                                placeholder="Confirm Password">
                                <em id="last_name-error" class="error help-block">This field is required.</em>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group button">
                            <input type="submit" name="submit" value="submit" class="btn primary">
                        </div>
                    </div>
                </div>

                </form>
            </div>
            <!--/ End Contact Form -->
            <!-- Contact Address -->
            <!-- put it here -->
        </div>
        <!--/ End of row -->

    </div>
</section>
<!--/ End Contact -->
<style>
    .upload_error p {
        color: red;
    }
</style>